<div class="popup">
    <div class="top-bar">
        <span>{{ TOPBARTITLE }}</span>
    </div>
    <div class="content">
        <div class="info-container">
            <p>{{ SELECTEDTABLEMESSAGE }} {{ selectedTable }}</p>
        </div>
        <div class="info-container">
            <p>{{ SELECTEDCOLUMNMESSAGE }} {{ selectedColumns }}</p>
        </div>
        <div class="select-table">
            <div class="select-row">
                <p>{{ CHARTNAMEMESSAGE }}</p>
                <input type="text" id="chartName" [(ngModel)]="chartName">
            </div>
        </div>
        
        <div class="buttons">
            <button class="previous-button" (click)="goToPreviousPage()">{{ PREVIOUSBUTTONTITLE }}</button>
            <button class="next-button" (click)="goToPieKpiPage()">{{ NEXTBUTTONTITLE }}</button>
        </div>
    </div>
</div>

  