.card {
    width: 30%;
    position: sticky;
    top: 0;
    background: white;
    padding: 1.5rem;
    box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.15);
    border-radius: 4px;
  }
  .content{
    display: flex;
    justify-content: space-evenly;
  }
  .connectors .content {
    justify-content: space-around !important;
  }

  .container{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.no-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  vertical-align: middle;
  text-align: center;
  justify-self: center;
  height: 90%;
  
  gap: 20px;
  
}
.h-400{
  height: 300px;
}
.w-400{
  width: 70%;
  margin: auto;
  
  
}
h4 {
  text-align: center;
}