<div class="popup">
    <div class="top-bar">
      <span>{{ NEW_CONNECTION_TITLE }}</span>
    </div>
    <div class="content">
      <div class="horizontal-container">
        <div class="select-table">
          <p>{{ CONNECTED_TO_LABEL }}</p>
          <select [(ngModel)]="selectedTable" name="selectedTable" required>
            <option *ngFor="let option of databaseOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="port-input">
          <p>{{ PORT_LABEL }}</p>
          <div>
          <input type="text" [(ngModel)]="port" placeholder="Enter port" name="port" required>
          <div *ngIf="!port && isFormSubmitted" class="error-message-port">
            {{ PORT_REQUIRED_ERROR }}
          </div>
          <div *ngIf="port && !isValidPort() && isFormSubmitted" class="error-message-port-number">
            {{ PORT_NUMBER_ERROR }}
          </div>        
        </div>
        </div>
      </div>
      <div class="server-input">
        <p>{{ SERVER_LABEL }}</p>
        <div>
        <input type="text" [(ngModel)]="host" name="host" placeholder="Enter server" required>
        <div *ngIf="!host && isFormSubmitted" class="error-message-server">
          {{ SERVER_REQUIRED_ERROR }}
        </div>
      </div>
      </div>
      <div class="username-input">
        <p>{{ USERNAME_LABEL }}</p>
        <div>
        <input type="text" [(ngModel)]="user" placeholder="Enter username" name="user" required>
        <div *ngIf="!user && isFormSubmitted" class="error-message-username">
          {{ USERNAME_REQUIRED_ERROR }}
        </div>
      </div>
    </div>
      <div class="password-input">
        <p>{{ PASSWORD_LABEL }}</p>
        <div>
        <input type="password" [(ngModel)]="password" placeholder="Enter password" name="password" required>
        <div *ngIf="!password && isFormSubmitted" class="error-message-password">
          {{ PASSWORD_REQUIRED_ERROR }}
        </div>
      </div>
      </div>
      <div class="database-input">
        <p>{{ DATABASE_LABEL }}</p>
        <div>
        <input type="text" [(ngModel)]="database" placeholder="Enter database" name="database" required>
        <div *ngIf="!database && isFormSubmitted" class="error-message-database">
          {{ DATABASE_REQUIRED_ERROR }}
        </div>
      </div>
      </div>
      <div class="buttons">
        <button class="previous-button">{{ PREVIOUS_BUTTON_TEXT }}</button>
        <button class="next-button" mat-button  (click)="connect()">{{ CONNECT_BUTTON_TEXT }}</button>
  
      </div>
    </div>
  </div>
  
