<div class="container">
    <div class="top-bar">
        <span>{{NEW_CONNECTION}}</span>
    </div>
    
    
    <div class="content">
        <h5>{{TYPE}}</h5>
        <section class="cards">
            <div (click)="Api()" class="card"><img src="/assets/img/images/API-image.jpg" alt=""><p>{{API}}</p></div>
            <div (click)="Database()" class="card"><img src="/assets/img/images/database-image.png" alt=""> <p>{{DATABASE}}</p></div>
            <div class="card"><img src="/assets/img/images/upload-file_icon.png" alt=""><p>{{FILE}}</p></div>
        </section>
           
            
        
        

    </div>
</div>